#lista_public {}

#lista_public .titulo,
#lista_public .caminho {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#lista_public .status {
    margin-top: 16px;
    border: 1px solid #E8E8E8;
    background: #fff
}

.public {
    color: #27ae32;
}

.pendent,
.ouro {
    color: #d6b600;
}

.rasc,
.prata {
    color: #bbbbbb;
}

.cancel {
    color: #ff2121;
}

.bronze {
    color: #b96c4d;
}

.resultBox2,
.resultBox2:hover,
.resultBox2:active {
    cursor: default;
    transition: 0.5s;
    border-bottom: none;
    background: transparent;
    position: relative;
}

/* .resultBox2:hover {
    box-shadow: inset 0 4px 2px #00000030;
} */


.resultBox2 .caminho,
.resultBox2 .titulo,
.resultBox2 .status {
    transition: 0.5s;
}

.resultBox2:hover .caminho,
.resultBox2:hover .titulo,
.resultBox2:hover .status {
    opacity: 0.2;
}

.controlers {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #e8e8e857;
    border: 1px solid #E8E8E8;
    z-index: 3;
    transition: 0.5s;
}

.btncontrol {
    opacity: 0;
    cursor: pointer;
    width: 74px;
    height: 74px;
    background: #274fae;
    border: 1px solid transparent;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.5s;

}

.btncontrol i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.resultBox2:hover .controlers,
.resultBox2:hover .btncontrol,
.resultBox2:active .controlers,
.resultBox2:active .btncontrol {
    opacity: 1;
}


.btncontrol:hover {
    color: #274fae;
    background: #fff;
    border: 1px solid #E8E8E8;
}

.edit_limpa,
.edit_info {
    width: 36px;
    height: 36px;
    padding: 4px;
    margin: 4px;
}

.upload {
    border: 2px dashed #E8E8E8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
}

#SalvarRascunho {
    margin-top: -78px;
    margin-bottom: 12px;
}


.revisao {
    position: relative;
    border: 1px solid #274fae;
    border-bottom: none;
    padding: 4px;
}

.revisao:first-child:after {
    z-index: 5;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #274fae;
    top: -11px;
    right: 28px;
}

.revisao:first-child {
    border-top: 3px solid #274fae;
}

.revisao:last-child {
    border-bottom: 1px solid #274fae;
}


.btn-libera {
    border: none;
    box-shadow: 0 0 0 1px #274fae;
    color: #274fae;
    height: 26px !important;
    transition: 0.3s;
}

.btn-libera:hover {
    background: #274fae;
    color: #fff;
}

.area-help {
    position: relative;
}

.menu_help {
    display: none;
    width: 200px;
    height: 30px;
    position: absolute;
    right: -200px;
    top: 80px;
}

.menu_help li {
    height: 100%;
    list-style: none;
    background: #274fae;
    color: #fff;
    transition: 0.5s;
}


.menu_help li a {
    display: block;
    padding: 6px 16px;
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
}

.btn_help {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    right: -100px;
    width: 74px;
    height: 74px;
    font-weight: 400;
    box-shadow: inset 0 0 0 1px #dbdbdb;
    color: #8d8d8d;
    transition: 0.3s;
}

.btn_help:hover {
    text-decoration: none;
    color: #333;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 2px #333;
}

.btn_help.ativo {
    background: #274fae;
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    margin-top: auto;
}

.btn_help.ativo:hover {
    background: #274fae;
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    margin-top: auto;
}


#btn_user_logado {
    position: relative;
}

#btn_user_logado .LogOut,
#btn_user_logado .btn_user_click {
    background: #fff;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 74px;
    height: 74px;
    top: 0;
    right: 0;
    border: none;
    font-weight: 800;
    transition: 0.5s;
}

#btn_user_logado .btn_user_click {
    cursor: pointer;
    left: -100px;
    right: auto;
    font-weight: 400;
    box-shadow: inset 0 0 0 1px #dbdbdb;
    color: #8d8d8d;
}

#btn_user_logado #user_click:checked~label {
    background: #274fae;
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    margin-top: auto;
}

.controles{
    display: flex;
    background: #f7f7f7;
    justify-content: center;
    align-items: center;
    height: 74px;
    padding: 6px 24px;
    transition: 0.5s;
}


.controles:hover{
    text-decoration: none;
    background: #fff;
    box-shadow: inset 0 0 10px #d6d4d4;
}

.afastar{
    margin-right: 66px;
}


.menu_help {
    transition: 0.3s;
}

#btn_user_logado #user_click:checked~label:hover,
.btn_help.ativo:hover,
.menu_help li:hover,
.help_mobile:hover {
    filter: brightness(1.5);
    box-shadow: inset 0 0 0 1px #274fae;
    text-decoration: none;
    color: #fff;
}

#btn_user_logado .LogOut::after {
    content: '';
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    z-index: -1;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 15px;
    height: 60px;
    filter: blur(15px);
    transition: 0.5s;
}

#btn_user_logado .LogOut:hover {
    color: #bbbbbb;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 2px #bbbbbb;
}

#btn_user_logado .btn_user_click:hover {
    color: #333;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 2px #333;
}

#btn_user_logado .LogOut:hover::after {
    opacity: 0;
}

.user-box {
    display: none;
    transition: 0.5s;
    min-height: 76px;
}


.time-line {
    height: calc(100vh - 670px);
    min-height: 200px;
    overflow-y: auto;
}

/* width */
.time-line::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.time-line::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.time-line::-webkit-scrollbar-thumb {
    background: #4885B9;

}

/* Handle on hover */
.time-line::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.auditada {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
}

.auditada::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 98.24%;
    left: 110px;
    border-left: 1px dotted #dbdbdb;
}

.auditada .time {
    width: 100px;
}


.auditada .situation .escapo {
    width: 150px !important;
}

.auditada .situation i {
    z-index: 3;
    font-size: 20px;

    padding: 3px;
}


.auditada .situation i::after {
    content: '';
    position: absolute;
    padding: 18px 0;
    background: #fff;
    width: 30px;
    height: 30px;
    left: -2px;
    margin-top: -6px;
    z-index: -1;
}




/* .time-line .auditada:nth-child(odd){
    background: #f5f5f5;
} */

/* .br-input{
    margin: 0px;
    padding: 2px;
    background: #f4f4f4;
    box-shadow: 0 0 0 1px #d3d3d4;
}

.br-input .area_imput{
    padding: 0px 2px !important;
}

.br-input input,
.posicionamento_input_area,
.lista_position {
    background-color: #fff;
    border-radius: 0px;
    width: 100%;
    height: 36px;
    padding: 4px;
    z-index: 2;
    transition: all 0.2s ease 0s;
} */

.br-input input::placeholder {
    color: #274fae !important;
    /* font-weight: 600; */
}

/* .br-input input{
    color: #274fae;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

.br-input input{
    color: #274fae !important;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

 */

.help_mobile{
    display: none; 
}


#selecionado{
    justify-content: space-between;
    align-items: center;

}

#tipo_ato_selected{
    border: 1px solid #E8E8E8;
    padding: 8px 16px;
}

#tipo_ato_selected b{
    text-transform: uppercase;
}

#selecionado .selected label{
    font-size: 0.65em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#selecionado .selected div{
    text-transform: uppercase;
    margin-top: -6px;
    font-weight: 700;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#selecionado .selected{
    width: 25%;
    padding: 6px 16px;
    background: #274fae;
    color: #fff;
    position: relative;
}

#selecionado .selected::after{
    content: '';
    z-index: 2;
    background: #274fae;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
}

#selecionado .selected:nth-child(2),
#selecionado .selected:nth-child(3){
    padding-left: 24px;
    margin-left: -19px;
    background: #1e3c81;
}

#selecionado .selected:nth-child(2)::after,
#selecionado .selected:nth-child(3)::after,
#selecionado .selected:last-child::after{
    background: #1e3c81;
}

/* #selecionado .selected:nth-child(3),
#selecionado .selected:nth-child(3)::after{
    background: #183066;
} */

#selecionado .selected:last-child,
#selecionado .selected:last-child::after{
    background: #102046;
}

#selecionado .selected:last-child::after{
    display: none;
}

.status_final{
    background: #27ae32;
    padding: 6px 16px;
    color: #fff;
    width: 100%;
    height: 100%;
    margin-left: -4px;
}

.icon_ordem{
    width: 22px;
    height: 22px;
    transition: 0.5s;
}
button:hover .icon_ordem{
    filter: grayscale(1) brightness(4) ;
}





@media (max-width:991px) {

    .afastar{
        margin-right: 0px;
        margin: 10px -8px 0 -24px;
    }

    .controles{
        height: auto;
    }

    .btn_altera{
        flex-basis: 100%;
        
    }

    #selecionado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    #selecionado .selected,
    #selecionado .selected:nth-child(2),
    #selecionado .selected:nth-child(3),
    #selecionado .selected:nth-child(4){
        width: 100%;
        margin-left: 0;
    }

    #selecionado .selected::after,
    #selecionado .selected:nth-child(2)::after,
    #selecionado .selected:nth-child(3)::after,
    #selecionado .selected:nth-child(4)::after{
        transform: rotate(90deg);
        top: 36px;
        right: 15%;
    }

    #selecionado .selected:nth-child(2),
    #selecionado .selected:nth-child(3){
        padding-left: 16px;
    }
    
    #tipo_ato_selected{
        padding: 20px 16px 8px 16px;
    }

    #SalvarRascunho {
        margin-top: -32px;
    }

    #btn_user_logado .btn_user_click {
        display: none;
    }

    #btn_user_logado .user-box {
        display: block;
    }

    .auditada::after {
        display: none;
    }

    .auditada .situation .escapo {
        width: auto !important;
        text-align: left !important;
    }

    .auditada {
        flex-wrap: wrap;
        justify-content: start;
        border: 1px solid #dbdbdb;
        margin-bottom: 12px !important;
    }

    .btn_help {
        display: none;
    }

    .help_mobile {
        background: #274fae;
        padding: 6px 0;
        color: #fff;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .area-help {
        cursor: pointer;
        padding: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        position: fixed !important;
    }

    .menu_help {
        position: fixed;
        width: 320px;
        height: auto;
        position: absolute;
        right: 0;
        left: 50%;
        top: auto;
        transform: translateX(-55%);
        bottom: 30px;
        transition: 0.3s;
    }

    .help_mobile .close{
        display: none;
    }


}




















/* MODELO 2 de Publicação ----------------------------  */


#lista_public2 {}

.lista_pub {
    border: 1px solid #E8E8E8;
    position: relative;
    background: #fff;
    padding: 24px;
    height: 100%;
    transition: 0.5s;
}

.lista_pub:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#lista_public2 .caminho {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em !important;
}

#lista_public2 .status {
    font-size: 0.8em !important;
}

.lista_pub .btn {
    height: 34px !important;
    font-size: 0.96em;
}



/* MODELO 3 de Publicação ----------------------------  */



#lista_public3 .status {
    font-size: 0.80em !important;
}

#lista_public3 .titulo {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: #274fae;

}

#lista_public3 .caminho {
    font-size: 0.80em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.IconStatus {
    margin-right: 16px;
    float: left;
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_lista3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    /* font-size: 1.6em; */
}

.status_OK {
    background: #27ae32;
    color: #fff;
}

.status_wait {
    background: #ff9100;
    color: #fff;
}

.status_rascunho {
    background: #bbbbbb;
    color: #fff;
}

.status_del {
    background: #ff6a6a;
    color: #fff;
}

.linhas_func {
    display: none;
    background: #f5f5f5;
    padding: 0;
}

.func {
    background: #f5f5f5;
    padding: 2px 24px;
    border: none;
    outline: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.linha.abrir button.btn_lista3,
button.btn_lista3:hover,
.func:hover {
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

#lista_public3 .linha {
    border: 1px solid #f5f5f5;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px !important;
}

#lista_public3 .linha .col-md-7 {
    min-height: 80px;
}

#lista_public3 .linha:hover {
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
}

.linha.abrir .linhas_func {
    display: flex;
}

.linha.abrir button.btn_lista3 i {
    transform: rotate(180deg);
}

.btn-ok.cb,
.btn-cancel.cb {
    text-transform: none !important;
}