#lista_public {}

#lista_public .titulo, #lista_public .caminho  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#lista_public .status {
    margin-top: 16px;
    border: 1px solid #E8E8E8;
    background: #fff
}

.public {
    color: #27ae32;
}

.pendent{
    color: #ff9100;
}

.rasc {
    color: #bbbbbb;
}

.cancel{
    color: #ff2121;
}


.resultBox2,
.resultBox2:hover,
.resultBox2:active {
    cursor: default;
    transition: 0.5s;
    border-bottom: none;
    background: transparent;
    position: relative;
}

/* .resultBox2:hover {
    box-shadow: inset 0 4px 2px #00000030;
} */


.resultBox2 .caminho,
.resultBox2 .titulo,
.resultBox2 .status {
    transition: 0.5s;
}

.resultBox2:hover .caminho,
.resultBox2:hover .titulo,
.resultBox2:hover .status {
    opacity: 0.2;
}

.controlers {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #e8e8e857;
    border: 1px solid #E8E8E8;
    z-index: 3;
    transition: 0.5s;
}

.btncontrol {
    opacity: 0;
    cursor: pointer;
    width: 74px;
    height: 74px;
    background: #274fae;
    border: 1px solid transparent;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.5s;
    
}

.btncontrol i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.resultBox2:hover .controlers,
.resultBox2:hover .btncontrol,
.resultBox2:active .controlers,
.resultBox2:active .btncontrol {
    opacity: 1;
}


.btncontrol:hover{
    color: #274fae;
    background: #fff;
    border: 1px solid #E8E8E8;
}

.edit_limpa, .edit_info{
    width: 36px;
    height: 36px;
    padding: 4px;
    margin: 4px;
}

.upload{
    border: 2px dashed #E8E8E8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
}

#SalvarRascunho{
    margin-top: -78px;
    margin-bottom: 12px;
}


.revisao{
    position: relative;
    border: 1px solid #274fae;
    border-bottom: none;
    padding: 4px;
}

.revisao:first-child:after{
    z-index: 5;
    position: absolute;
    content: '';
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #274fae;
    top: -11px;
    right: 28px;
}

.revisao:first-child{
    border-top: 3px solid #274fae;
}
.revisao:last-child{
    border-bottom: 1px solid #274fae;
}


@media (max-width:991px){
    #SalvarRascunho{
        margin-top: -32px;
    }
}


/* MODELO 2 de Publicação ----------------------------  */


#lista_public2{

}

.lista_pub{
    border: 1px solid #E8E8E8;
    position: relative;
    background: #fff;
    padding: 24px;
    height: 100%;
    transition: 0.5s;
}

.lista_pub:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#lista_public2 .caminho{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em !important;
}

#lista_public2 .status{
    font-size: 0.8em !important;
}

.lista_pub .btn{
    height: 34px !important;
    font-size: 0.96em;
}