#lista_public {}

#lista_public .titulo,
#lista_public .caminho {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#lista_public .status {
    margin-top: 16px;
    border: 1px solid #E8E8E8;
    background: #fff
}

.public {
    color: #27ae32;
}

.pendent,
.ouro {
    color: #d6b600;
}

.rasc,
.prata {
    color: #bbbbbb;
}

.cancel {
    color: #ff2121;
}

.bronze {
    color: #b96c4d;
}

.resultBox2,
.resultBox2:hover,
.resultBox2:active {
    cursor: default;
    transition: 0.5s;
    border-bottom: none;
    background: transparent;
    position: relative;
}

/* .resultBox2:hover {
    box-shadow: inset 0 4px 2px #00000030;
} */


.resultBox2 .caminho,
.resultBox2 .titulo,
.resultBox2 .status {
    transition: 0.5s;
}

.resultBox2:hover .caminho,
.resultBox2:hover .titulo,
.resultBox2:hover .status {
    opacity: 0.2;
}

.controlers {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #e8e8e857;
    border: 1px solid #E8E8E8;
    z-index: 3;
    transition: 0.5s;
}

.btncontrol {
    opacity: 0;
    cursor: pointer;
    width: 74px;
    height: 74px;
    background: #274fae;
    border: 1px solid transparent;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.5s;

}

.btncontrol i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.resultBox2:hover .controlers,
.resultBox2:hover .btncontrol,
.resultBox2:active .controlers,
.resultBox2:active .btncontrol {
    opacity: 1;
}


.btncontrol:hover {
    color: #274fae;
    background: #fff;
    border: 1px solid #E8E8E8;
}

.edit_limpa,
.edit_info {
    width: 36px;
    height: 36px;
    padding: 4px;
    margin: 4px;
}

.upload {
    border: 2px dashed #E8E8E8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
}

#SalvarRascunho {
    margin-top: -78px;
    margin-bottom: 12px;
}


.revisao {
    position: relative;
    border: 1px solid #274fae;
    border-bottom: none;
    padding: 4px;
}

.revisao:first-child:after {
    z-index: 5;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #274fae;
    top: -11px;
    right: 28px;
}

.revisao:first-child {
    border-top: 3px solid #274fae;
}

.revisao:last-child {
    border-bottom: 1px solid #274fae;
}


.btn-libera{
    border: none;
    box-shadow: 0 0 0 1px #274fae;
    color: #274fae;
    height: 26px !important;
}

#btn_user_logado {
    position: relative;
}

#btn_user_logado .LogOut,
#btn_user_logado .btn_user_click {
    background: #fff;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 74px;
    height: 100%;
    min-height: 66px;
    top: 0;
    right: 0;
    border: none;
    font-weight: 800;
    transition: 0.5s;
}

#btn_user_logado .btn_user_click {
    cursor: pointer;
    left: -100px;
    right: auto;
    font-weight: 400;
    box-shadow: inset 0 0 0 1px #dbdbdb;
    color: #8d8d8d;
}

#btn_user_logado #user_click:checked~label {
    background: #274fae;
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    margin-top: auto;
}

#btn_user_logado #user_click:checked~label:hover {
    filter: brightness(1.5);
    box-shadow: inset 0 0 0 1px #274fae;
}

#btn_user_logado .LogOut::after {
    content: '';
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    z-index: -1;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 15px;
    height: 60px;
    filter: blur(15px);
    transition: 0.5s;
}

#btn_user_logado .LogOut:hover {
    color: #bbbbbb;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 2px #bbbbbb;
}

#btn_user_logado .btn_user_click:hover {
    color: #333;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 2px #333;
}

#btn_user_logado .LogOut:hover::after {
    opacity: 0;
}

.user-box {
    display: none;
    transition: 0.5s;
    height: auto;
    min-height: 68px;
}


.time-line {
    height: calc(100vh - 670px);
    min-height: 200px;
    overflow-y: auto;
}

/* width */
.time-line::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.time-line::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.time-line::-webkit-scrollbar-thumb {
    background: #4885B9;

}

/* Handle on hover */
.time-line::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.auditada {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
}

.auditada::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 98.24%;
    left: 110px;
    border-left: 1px dotted #dbdbdb;
}

.auditada .time {
    width: 100px;
}


.auditada .situation .escapo {
    width: 150px !important;
}

.auditada .situation i {
    z-index: 3;
    font-size: 20px;

    padding: 3px;
}


.auditada .situation i::after {
    content: '';
    position: absolute;
    padding: 18px 0;
    background: #fff;
    width: 30px;
    height: 30px;
    left: -2px;
    margin-top: -6px;
    z-index: -1;
}




/* .time-line .auditada:nth-child(odd){
    background: #f5f5f5;
} */




@media (max-width:991px) {
    #SalvarRascunho {
        margin-top: -32px;
    }

    #btn_user_logado .btn_user_click {
        display: none;
    }

    #btn_user_logado .user-box {
        display: block;
    }

    .auditada::after {
        display: none;
    }

    .auditada .situation .escapo {
        width: auto !important;
        text-align: left !important;
    }

    .auditada {
        flex-wrap: wrap;
        justify-content: start;
        border: 1px solid #dbdbdb;
        margin-bottom: 12px !important;
    }
}




















/* MODELO 2 de Publicação ----------------------------  */


#lista_public2 {}

.lista_pub {
    border: 1px solid #E8E8E8;
    position: relative;
    background: #fff;
    padding: 24px;
    height: 100%;
    transition: 0.5s;
}

.lista_pub:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#lista_public2 .caminho {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em !important;
}

#lista_public2 .status {
    font-size: 0.8em !important;
}

.lista_pub .btn {
    height: 34px !important;
    font-size: 0.96em;
}



/* MODELO 3 de Publicação ----------------------------  */



#lista_public3 .status {
    font-size: 0.80em !important;
}

#lista_public3 .titulo {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: #274fae;

}

#lista_public3 .caminho {
    font-size: 0.80em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.IconStatus {
    margin-right: 16px;
    float: left;
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_lista3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    /* font-size: 1.6em; */
}

.status_OK {
    background: #27ae32;
    color: #fff;
}

.status_wait {
    background: #ff9100;
    color: #fff;
}

.status_rascunho {
    background: #bbbbbb;
    color: #fff;
}

.status_del {
    background: #ff6a6a;
    color: #fff;
}

.linhas_func {
    display: none;
    background: #f5f5f5;
    padding: 0;
}

.func {
    background: #f5f5f5;
    padding: 2px 24px;
    border: none;
    outline: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.linha.abrir button.btn_lista3,
button.btn_lista3:hover,
.func:hover {
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

#lista_public3 .linha {
    border: 1px solid #f5f5f5;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px !important;
}

#lista_public3 .linha .col-md-7 {
    min-height: 80px;
}

#lista_public3 .linha:hover {
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
}

.linha.abrir .linhas_func {
    display: flex;
}

.linha.abrir button.btn_lista3 i {
    transform: rotate(180deg);
}

.btn-ok.cb,
.btn-cancel.cb {
    text-transform: none !important;
}