@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  scroll-margin-top: 150px;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 400;
  color: #303030;
}

body {
  overflow: hidden;
}

/* width */
html::-webkit-scrollbar {
  width: 10px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #4885B9;

}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

h1,
h2 {
  font-weight: 800;
  text-transform: uppercase;
}

h3,
h4,
h5 {
  font-weight: 600;
}

p {
  font-size: 16px;
}

a,
a:active {
  cursor: pointer;
  color: #4885B9;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #51a2e9;
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

#govsp-topbarGlobal {
  box-shadow: 0px 3px 9px #00000030 !important;
  z-index: 5;
}

#header_menu {
  margin-top: -14px;
  background: #fff;
  position: relative;
  min-height: 120px;
  border-bottom: 1px solid #ccc;
  z-index: 4;
}

#LogoDO {
  height: 88px;
}

#busca_principal {
  position: absolute;
  width:100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 16px 100px 16px 16px;
  border: 1px solid #cccccc;
  background: linear-gradient(0deg, #fff, #E8E8E8 10%, #fff);
  outline: none;
}

#buscar{
  right: -27px;
  margin: 16px;
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  transition: 0.5s;
  font-size: 18px;
  padding: 4px 24px;
}

#menu {
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  transition: 0.5s;
  font-size: 18px;
}

#buscar:hover{
  box-shadow:inset 0 0 0 #cccccc;
  background: #fff;
}

#menu:hover {
  box-shadow:inset 0 0 0 #cccccc;
  background: #f0f0f0;
}

#buscar:active,
#menu:active {
  box-shadow: inset 0 2px 5px #cccccc;
  background: #f0f0f0;
}



/* PADRÃO BTN 1 */

.BtnType1 {
  font-weight: 400;
  padding: 16px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  background: #fff;
  box-shadow:inset 0 0 0 #00000030;
  height: 40px;
  transition: 0.5s; 
}

.BtnType1:hover {
  transition: 0.5s;
  background: #f0f0f0;
}

#PesAvanc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.80em;
}

#PesAvanc.alt,
.selectMOD:focus {
  transition: 0s;
  background: linear-gradient(0deg, #fff, #E8E8E8);
  box-shadow:inset 0 3px 4px #00000030;
}

#BoxPesqAvanc {
  display: none;
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 10px 20px #00000030;
  width: calc(100% - 24px);
  top: -18px;
  overflow: hidden;
}

.selectMOD {
  border-radius: 0px;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 4px #00000030, inset 0 0 0 #00000030;
  font-size: 1.4em;
  font-weight: 600;
  color: #4885B9;
  padding: 6px 16px;
}

.inputBox {
  position: relative;
}

.def1 {
  height: 40px;
  font-size: 0.9em;
  font-weight: 600;
}

.inputBox {
  position: relative;
}

.inputBox label {
  position: absolute;
  top: 7px;
  left: 10px;
  background: #fff;
  color: #707070;
  pointer-events: none;
  transition: 0.5s;
  font-weight: 400;
  font-size: 0.9em;
  padding: 2px 4px;
  transition: 0.5s;
}

.def1 {
  color: transparent;
  border-radius: 0px;
}

.def1:focus,
.def1:valid {
  color: #141414;
  transition: 1s;
}


/*  :valid - CSS atua com o textbox preenchido*/
.def1:focus~label,
.def1:valid~label {
  top: -14px;
  left: 8px;
  font-size: 0.8em;
}


#caminho {
  z-index: 2;
  margin-top: -20px;
  margin-bottom: 8px;
  font-size: 0.8em;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.btn{
  border-radius: 0px !important;
}

.btn-cancel,
.btn-ok {
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 300;
  transition: 0.5s;
  box-shadow: 0 0 0 0;
  outline: none;
}

.btn-ok {
  background: #2E5B81;
}

.btn-cancel {
  background: #737373;
}

.btn-back{
  background: #fff;
  border: 1px solid #ccc;
  transition: 0.5s;
}

.btn-ok:hover,
.btn-ok:active,
.btn-cancel:hover,
.btn-cancel:active {
  color: #fff;
  filter: brightness(1.5);
}

.btn-back:hover{
  background: #f0f0f0;
}


.footer_pesq {
  background: #f5f5f5;
}


.conteudo {
  margin-top: 10px;
  min-height: 100vh;
}


/*  BANNER HOME  */

.banner {
  height: 370px;
  width: calc(100% - 12px);
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  transform: scale(2);
  margin: 8px !important;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background: #002D53 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #141414 !important;
}

.img_fundo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.swiper-home .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.swiper-home .swiper-slide .info {
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  max-width: 800px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  color: #141414;
  text-transform: uppercase;
}

.info .meio {
  margin: 16px 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  padding: 24px;
}

.info .meio h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6em;
  margin: 12px 0;
}

.conteudo h1,
.conteudo h2 {
  text-align: center;
  position: relative;
  margin: 90px 0;
}

.conteudo h2::after {
  content: '';
  position: absolute;
  background: #ccc;
  width: 100%;
  max-width: 400px;
  height: 1px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}


.link-home {
  height: 160px;
  font-size: 2.6em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}


.link-home span {
  margin-top: -14px;
  font-weight: 600;
  font-size: 0.7em;
}


.link-home:hover,
.link-home:active {
  text-decoration: none;
  color: #fff;
  filter: brightness(1.4);
}

.l1 {
  background: #2E5B81;
}

.l2 {
  background: #0C5088;
}

.l3 {
  background: #002D53;
}


.link-home2 {
  height: 180px;
  padding: 24px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.link-home2 h4 {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  color: #0C5088;
}

.link-home2 span {
  color: #141414 !important;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}

.link-home2:hover,
.link-home2:active {
  text-decoration: none;
  background: #E8E8E8;
}

.treeview input,
.DataDia input[name="semana"],
.caderno input[name="caderno"],
.secao input[name="secao"],
#area_secao,
#b01,
#b02,
#b03,
#b04,
#c01,
#c02,
#c03 {
  display: none;
}

.DataDia label {
  background: #fff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #4885B9;
  font-weight: 800;
  text-transform: uppercase;
  max-width: 120px;
  cursor: pointer;
  transition: 0.5s;
}

.DataDia:first-child label,
.DataDia:last-child label {
  border: 1px solid #fff;
}



.DataDia .num {
  font-size: 4em;
  margin-top: -10px;
}

.DataDia .sem {
  margin-top: -20px;
  margin-bottom: 8px;
  font-size: 1.3em;
}

.caderno,
.secao {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.caderno label,
.secao label {
  position: relative;
  width: 100%;
  height: 60px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141414;
  font-weight: 600;
  font-size: 1.4em;
  color: #4885B9;
  cursor: pointer;
  transition: 0.5s;
}


.DataDia input[name="semana"]:disabled~label,
.DataDia input[name="semana"]:disabled~label:hover {
  color: #ccc;
  background: #fff;
  border: 1px solid #cccccc;
  cursor: default;
}

.DataDia input[name="semana"]:checked~label,
.caderno input[name="caderno"]:checked~label,
.secao input[name="secao"]:checked~label {
  background: #0C5088;
  border: 1px solid #0C5088;
  color: #fff;
  border: none;
  cursor: default;
}


.DataDia label:hover,
.caderno label:hover,
.secao label:hover {
  background: #4885B9;
  border: 1px solid #4885B9;
  color: #fff;
}

label .numb {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  font-weight: 800;
}

.subTitle {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
}

.marcador {
  margin: 4px 8px;
  height: 40px;
  width: 30px;
  background: #002D53;
}

.marcador.chave{
  background: #141414;
}

.assunto {
  font-size: 0.9em;
  color: #4885B9;
  border: 1px solid #4885B9;
  padding: 4px 16px;
  height: 40px;
  max-width: 400px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 8px;
  margin: 4px;
}

.linksDoc {
  font-size: 1.1em;
  font-weight: 600;
}


#filtoList .selectMOD {
  color: #737373;
  font-size: 1em;
  font-weight: 400;
}


.retrair {
  font-weight: 600;
  position: absolute;
  right: 8px;
  top: -30px;
  color: #4885B9;
  transition: 0.5s;
}

.retrair label:hover {
  color: #51a2e9;
  cursor: pointer;
}

#abre_fecha_tudo,
#abre_fecha_tudo~label span[name="expand"],
#abre_fecha_tudo:checked~label span[name="retrai"],
.treeview input:checked~.Lv2 {
  display: none;
}

#abre_fecha_tudo:checked~label span[name="expand"] {
  display: block;
}


.treeview li {
  list-style: none;
}

.treeview li:last-child {
  margin-bottom: 10px;
}

.treeview {
  margin-left: -16px;
}

.treeview ul {
  text-transform: uppercase;
  margin-left: -6px;
  font-weight: 800;
  font-size: 12px;
}

.treeview label {
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}

.treeview a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
}

.treeview a::after {
  content: '»';
  position: absolute;
  left: -20px;
  top: -2px;
}

.treeview ul label::after {
  display: none;
}

.treeview label::after {
  content: '\f146';
  font-family: "Font Awesome 5 Pro";
  font-size: 1.2em;
  float: left;
  margin: -2px 10px 0 0;
  font-weight: 300;
  cursor: pointer;
}

.treeview input:checked~label::after {
  content: '\f0fe';
  font-family: "Font Awesome 5 Pro";
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}

.resultBox {
  background: #fff;
  border-bottom: 1px solid #cccccc;
  padding: 16px;
  font-size: 14px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.resultBox:hover {
  cursor: pointer;
  background: #f5f5f5;
  border-bottom: 1px solid #fff;
}

.resultBox .caminho {
  font-size: 12px;
  color: #737373;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conteudo .caminho{
  font-size: 14px;
  color: #737373;
}

.resultBox h6 {
  margin: 4px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #0C5088;
}

.resultBox .descricao,
.relevant .descricao {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}



.relevant .box {
  padding: 26px 30px 6px 30px;
  background: #f5f5f5;
}

.materia {
  position: relative;
  font-size: 12px;
  margin-bottom: 40px;
  transition: 0.5s ease-in-out;
}

.materia:hover {
  background: #fff;
  box-shadow: 0 0 0 14px #fff, 0 18px 20px #00000030;
  cursor: pointer;
}

.materia h6 {
  font-size: 14px;
  font-weight: 600;
  color: #4885B9;
  /* overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; */
}

.relevant .descricao {
  -webkit-line-clamp: 6;
  text-align: justify;
}

.page-item.disabled .page-link {
  color: #ccc !important;
}

.page-link {
  color: #51a2e9 !important;
  margin: 0 6px;
  border-radius: 0px !important;
}

.page-link:hover {
  color: #fff !important;
  background: #4885B9 !important;
  text-decoration: none;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #002D53 !important;
  border-color: #002D53 !important;
}

.recente .links {
  font-weight: 400;
  padding: 9px 6px;
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
  background: #303030;
  transition: 0.5s;
}

.recente .links:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.recente .links .position {
  margin: 0 6px;
}

.recente .links .texto {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .links .total {
  margin: 0 6px;
  text-align: end;
  min-width: 60px;
  font-weight: 600;
  flex-grow: 1 !important;
}

.box .links:nth-child(1) {
  background: #002D53;
}

.box .links:nth-child(2) {
  background: #0C5088;
}

.box .links:nth-child(3) {
  background: #2E5B81;
}

.box .links:nth-child(4) {
  background: #4885B9;
}


.logo_doc{
  height: 100px;
  margin-bottom: 12px;
}

.texto_doc_just{
  text-align: justify;
}

.texto_doc_just p{
  text-indent: 46px
}

.preambulo{
  margin-left: 50%;
  text-align: start;
}





/* FOOTER ------------------ */

.linha_azul {
  background: #002D53;
  min-height: 80px;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
}

.linha_preta {
  background: #141414;
}



/* RESPONSIVO AJUSTE */


@media screen and (min-width: 992px) and (max-width: 1199px) {

  #caminho {
    margin-top: -16px;

  }
}


@media screen and (min-width: 992px) {}


@media screen and (max-width: 991px) {

  #PesAvanc {
    justify-content: center !important;
  }


  .BtnType1 span {
    font-size: 0.7em !important;
  }

  .banner {
    width: 100%;
  }

  #BoxPesqAvanc {
    width: calc(100% + 36px);
    left: -16px;
    top: 0px;
  }

  .DataDia:nth-last-child(2),
  .DataDia:nth-last-child(6) {
    display: none;
  }

  #header_menu {
    min-height: auto;
}

}

@media screen and (max-width: 767px) {

  .DataDia .num {
    font-size: 3em;
  }

  .DataDia .sem {
    font-size: 0.95em;
  }


  #LogoDO {
    width: auto;
    height: 56px;
    margin-left: -8px;
    margin-right: -20px;
  }

  .preambulo{
    margin-left: 35%;
    text-align: start;
  }
  

}

@media screen and (max-width: 575px) {

  h1,
  h2 {
    font-size: 1.26em;
  }

  h3,
  h4,
  h5 {
    font-size: 1.1em;
  }


  .swiper-home .swiper-slide .info {
    width: 80%;
  }

  .info h5 {
    font-size: 0.9em;
  }

  .info .meio h1 {
    font-size: 1.2em;
  }


  .linha_azul {
    font-size: 0.9em;
  }

  .DataDia {
    padding: 2px;
    margin: 0px;
  }

  .DataDia:first-child label,
  .DataDia:last-child label {
    font-size: 0.7em !important;
  }


  .treeview ul {
    font-size: 10px;
    margin-left: -32px;
  }


  .treeview a {
    font-size: 12px;
  }

  .treeview a::after {
    left: -10px;
  }

  .resultBox .descricao{
    -webkit-line-clamp: 5;
  }


  .relevant .descricao {
    -webkit-line-clamp: 3;
  }

}

@media screen and (max-width: 475px) {

  .DataDia .num {
    font-size: 2.6em;
  }

  .DataDia .sem {
    margin-top: -8px;
    font-size: 0.75em;
  }

  .resultBox {
    padding: 12px;
  }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}




#box_teste{
  z-index: 2;
  position: absolute;
  right: 16px;
  top: 200px;
  color: #4885B9;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
