
body{
  text-align: center;
  background: linear-gradient(0deg,#dddddd, #fff);
  background-attachment: fixed;
}

.margem-header{
  height: 170px;
  transition: 1s ease-in-out;
}

.selectMOD.data::after,.selectMOD.data::before {
  transform: translateY(5px);
}

.A4-content{
  background: #fff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 21cm;
  padding: 24mm 16mm;
  font-size: 0.9em !important;

}

.A4-content h5{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


.caminho{
  padding: 0;
  line-height: 14px;
  font-size: 10px;
  color: #888888;
}

.tit_doc{
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #1f54ad;
  border-bottom: 1px solid #888888;
  text-align: center;
}

.texto_doc_just p{
  font-size: 1em !important;
}

.tit_print_col h1{
  font-size: 28px;
}
.tit_print_col h3{
  font-size: 16.5px;
  margin-top: -10px;
}

#pdf_nav{
  margin: 6px;
}

#pdf_nav label{
  transform: scale(0.86);
}

#pdf_nav h5{
  padding-top: 12px;
}

#pdf_nav h5 b{
  color: #274fae;
}

#controlePDF{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  transition: 1s ease-in-out;
}

#abreFecha{
  cursor: pointer;
  position: fixed;
  background: #274fae;
  height: 24px;
  left: 0;
  right: 0;
  top: 120px;
  transition: 1s ease-in-out;
}

#abreFecha.fechado{
  top: 0px;
}

#abreFecha i{
  transition: 1s ease-in-out;
}

#abreFecha.fechado i{
  transform: rotate(180deg);
}

#controlePDF.fechado{
  top: -520px;
}

.header_print, .footer_print{
  font-size: 10px;
  position: fixed;
  left: 16mm;
  right:  16mm;
  padding: 6px 0;
  background: #888888;
  font-weight: bold;
  display: none;
}

.header_print{
  top: 6px;
  border-bottom: 1px solid #000;
}

.footer_print{
  font-size: 7px !important;
  bottom: 6px;
  border-top: 1px solid #000;
  height: 60px;
}

.footer_print img{
  width: 24px;
}

#sumario a{
  overflow: hidden;
  display: flex;

}

#sumario strong{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 auto!important;
}

.ponto{
  overflow: hidden;
}

.margem-header.fechado{
  height: 40px;
}

@media print {


  @page {
    size: auto;   /* auto is the initial value */
    margin: 0mm 0mm 6mm 0mm;
      /* this affects the margin in the printer settings */
  }

  body{
    padding: 24px 0;
  }

  .A4-content p{
    /* page-break-inside: avoid; */
    /* se cortar, vai pra próxima página */
  }

  .header_print, .footer_print{
    display: table-footer-group;
  }
  
  .margem-header{
    display: none;
  }


}


@media screen and (min-width:768px) and (max-width:1199px){
  #pdf_nav h5{
    font-size: 16px !important;
    padding-top: 14px;
  }
}

@media (max-width:767px){
  .margem-header{
    height: 520px;
  }
  #abreFecha{
    top: 510px;
  }
}